//extends layout
doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='/images/digiEscolaIcone.ico')
    title DigiEscola | Login
    link(href='/stylesheets/bootstrap.min.css', rel='stylesheet')
    <!--link(href='/stylesheets/dashboard.css', rel='stylesheet')-->
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/estilo.css')
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js')
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')

  body
    <div id="area-cabecalho">
    
    <div id="area-logo">
      img(src= '/images/digiEscolaLogo.png' width="180")
      <!-- <h1>Digi<span class="branco">Escola</span></s></h1> -->
    </div>

    <div id="area-menu">
      <a href="/">Pagina Principal</a>
      <a href="">Funcionalidades</a>
      <!--<a href="">Criar Conta</a>-->
      <a href="">Ajuda</a>
    </div>

  </div>

      .wrapper

        form.form-signin(method='post', action='/signinResponsavel')
          h3.form-signin-heading Entrar na sua conta
          |
          - if(message){
          p(style='color:red') #{message}
          - }
          input.form-control(type='text', name='username', placeholder='Usuário' required oninvalid="this.setCustomValidity('O campo Usuário é obrigatório')"  oninput="setCustomValidity('')")
          |
          input.form-control(type='password', name='password', placeholder='Senha' required oninvalid="this.setCustomValidity('O campo Senha é obrigatório')"  oninput="setCustomValidity('')")
          label.checkbox
          |
          button.btn.btn-lg.btn-primary.btn-block(type='submit' class="btn btn-success") Login
          <!--<button type="submit" class="btn btn-success">Login</button>-->
          <br><strong>Página destinada a Login de usuários do tipo (Responsável)</strong>
          <br><br>Login Administrativo? <a href="signinSecretaria">Clique aqui</a>