extends layout

block content
  <div id="area-cabecalho">
   <div id="area-logo" align="center">
    img(src= '/images/digiEscolaLogo.png' width="180")
   </div>
  </div>
  <br><br><br><br>
  <div align="center">
  h2= error.status
  <br><br><br><br>
  h1= message
  <br>
  <h1> Que tal voltar à <a href="/">home page?</a> </h1>
  </div>
  h
  <!--h5="Detalhamento do erro:"
  pre #{error.stack}-->
