
<!DOCTYPE html>
<html>
<head>
	<title>DigiEscola</title>
	<meta charset="utf-8">
	link(rel='stylesheet', href='/stylesheets/estilo.css')
	link(rel='icon', href='/images/digiEscolaIcone.ico')
</head>
<body>

	<div id="area-cabecalho">
		
		<div id="area-logo">
			<!--<h1>Digi<span class="branco">Escola</span></s></h1>-->
			img(src= '/images/digiEscolaLogo.png' width="180")
		</div>

		<div id="area-menu">
			<a href="indexLogged">Pagina Principal</a>
			<a href="usersResponsavel">Meu Espaço</a>
			<a href="">Ajuda</a>
			<a href="">Trocar senha</a>
			<a href="/logout">Sair</a>
		</div>

	</div>

	<div id="area-principal">
		<h5> <strong>Bem vindo (a):</strong> #{nome}</h5>
		<hr>
		<div id="area-postagens">
			
			<!-- Abertura postagem -->

			<div class="postagem">
				<h2>Sua escola no futuro!</h2>
				
				img(src= '/images/digiescola4.png')

				<p>
					l Com o DigiEscola ficou muito mais fácil tornar disponível e acessar informações escolares do seu interesse. Nós temos a solução para tornar sua consulta por informações escolares mais simples! Somos o DigiEscola!
				</p>
				
			</div>
			<!-- // Fechamento postagem-->

			<!-- Abertura postagem -->
			<div class="postagem">
				<h2>Informação Digital</h2>

				<br>

				<p>
						l Ao utilizar nossos serviços você contará com um rápido meio para consulta e disponibilização de informações de interesse escolar e reduzirá drasticamente o mundo tradicional dos papeis. Embarque nessa com a gente!
				</p>

			</div>  <!-- // Fechamento postagem-->

		</div>

		<div id="area-lateral">
			
			<div class="conteudo-lateral">
				<div class="fundoh3">
					<h3>Postagens recentes</h3>
				</div>
				
				<div class="postagem-lateral">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					<a href="">Leia mais</a>
				</div>

				<hr>

				<div class="postagem-lateral">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					<a href="">Leia mais</a>
				</div>

			</div>

			<div class="conteudo-lateral">
				<div class="fundoh3">
					<h3>Mais acessados</h3>
				</div>
				
				<br>
				<a href="">Ajuda</a><br>	

			</div>

		</div>

		<div id="area-rodape"> Todos os direitos reservados </div>

	</div>

</body>
</html>