//extends layout
doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='/images/digiEscolaIcone.ico')
    title DigiEscola | Registrar Usuario
    link(href='/stylesheets/bootstrap.min.css', rel='stylesheet')
    <!--link(href='/stylesheets/dashboard.css', rel='stylesheet')-->
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/estilo.css')
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js')
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')

  body
    <div id="area-cabecalho">
        <div id="area-logo">
          img(src= '/images/digiEscolaLogo.png' width="180")
          <!-- <h1>Digi<span class="branco">Escola</span></s></h1> -->
        </div>

        <div id="area-menu">
          <a href="/indexLogged">Pagina Principal</a>
          <a href="">Funcionalidades</a>
          <a href="">Ajuda</a>
          <a href="usersSecretaria">Meu Espaço</a>
          <a href="/logout">Sair</a>
        </div>
    </div>

block content
      style.
        table { width: 100%; }
        th, tr, td {
          border: 1px solid black;
          padding: 10px;
          margin: 10px;
        }

      .wrapper

        form.form-signin(method='', action='')
             h3.form-signin-heading Cadastro de Responsável
             h5 <strong>Situação:</strong> Responsável cadastrado com sucesso &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
              a(href='/usersSecretaria') Voltar 
              h5 <strong>Dados do responsável cadastrado:</strong>
             table
                tr
                    th Nome
                    th CPF do Responsável
                tr
                    td  #{nome}
                    td  #{cpf}