<!-- Documentação: http://expressjs.com/pt-br/guide/using-template-engines.html-->

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
</head>		

<body>
	<h1 align="center">Primeira lista de Sistemas Distribuídos - 2018-2</h1>
		<div align="center">
			<a href="questao1"> Questão 1 </a> <br>
			<a href="questao2"> Questão 2 </a> <br>
			<a href="questao3"> Questão 3 </a> <br>
			<a href="questao4"> Questão 4 </a> <br>
			<a href="questao5"> Questão 5 </a> <br>
			<a href="questao6"> Questão 6 </a> <br>
			<a href="questao7"> Questão 7 </a> <br>
			<a href="questao8"> Questão 8 </a> <br>
			<!--<a href="questao9"> Questão 9 </a> <br> - OBS: Específico para linguagem Java-->
			<div>
</body>
</html>