<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	</head>		

	<body>
		<h1>Questao #7: Verifica Aposentadoria</h1>
			<div align="center">
				<form action ="/verificaAposentadoria" method="POST">
					<p> Insira a seguir a idade, sexo (masculino ou feminino) e tempo de serviço do funcionário: </p>
					<label for="idade"> Idade:</label>
					<input type="idade" name="idade" id="idade"><br>
					<label for="sexo"> Sexo:</label>
					<input type="sexo" name="sexo" id="sexo"><br>
					<label for="tempoServ"> Tempo de serviço:</label>
					<input type="tempoServ" name="tempoServ" id="tempoServ"> <br><br>
					<input type="submit" value="Submeter">
				</form>
				<br>
				<h2> Valores de referencia:</h2>
				<p>Sexo masculino: Mínimo 65 anos de idade e ter trabalhado por no mínimo 30 anos</p>
				<p>Sexo feminino:  Mínimo 60 anos de idade e ter trabalhado por no mínimo 25 anos</p>
			</div>
	</body>
</html>